* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

p {
  margin: 5px 0;
  font-size: 14px;
}

a {
  color: #ecdbba;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
